# Desiree's scratch pad

In [1]:
import warnings
warnings.filterwarnings("ignore")
import pandas as pd
import numpy as np

import seaborn as sns
import matplotlib.pyplot as plt

from scipy import stats
import math

from sklearn.metrics import explained_variance_score
from sklearn.metrics import mean_squared_error
from sklearn.linear_model import LinearRegression, LassoLars, TweedieRegressor
from sklearn.preprocessing import PolynomialFeatures
import sklearn.preprocessing
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score, mean_squared_error
from sklearn.feature_selection import SelectKBest, f_regression, RFE

import mccrosky_prepare

## Acquire Data

In [2]:
df = pd.read_csv('texas.csv')

In [5]:
df.head(3).T

,0,1,2
AGY,101,104,101
NAME,SENATE ...,LEGISLATIVE BUDGET BOARD ...,SENATE ...
LASTNAME,GILLIAM,GILLIAM,NELSON
FIRSTNAME,STACEY,STACEY,DAVID
MI,L,L,
JOBCLASS,7101,C160,7101
JC TITLE,LEG. OFFICIAL/ADMINISTRATOR ...,COMMITTEE DIRECTOR ...,LEG. OFFICIAL/ADMINISTRATOR ...
RACE,WHITE,WHITE,WHITE
SEX,FEMALE,FEMALE,MALE
EMPTYPE,URP - UNCLASSIFIED REGULAR PART-TIME,URP - UNCLASSIFIED REGULAR PART-TIME,URP - UNCLASSIFIED REGULAR PART-TIME
HIREDT,07/01/13,11/01/17,12/01/98
RATE,0.0,0.0,0.0
HRSWKD,20.0,20.0,20.0
MONTHLY,8100.0,7000.0,9500.0
ANNUAL,97200.0,84000.0,114000.0
STATENUM,339371,339371,193187
duplicated,True,True,True
multiple_full_time_jobs,NaN,NaN,NaN
combined_multiple_jobs,NaN,NaN,NaN
summed_annual_salary,181200.0,NaN,210000.0
hide_from_search,NaN,True,NaN

In [ ]:
df = prepare_tex(df)