In [9]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('salaries.csv')

/usr/local/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (16,17,18,20) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
df.head()

,AGY,NAME,LASTNAME,FIRSTNAME,MI,JOBCLASS,JC TITLE,RACE,SEX,EMPTYPE,...,RATE,HRSWKD,MONTHLY,ANNUAL,STATENUM,duplicated,multiple_full_time_jobs,combined_multiple_jobs,summed_annual_salary,hide_from_search
0,101,SENATE ...,GILLIAM,STACEY,L,7101,LEG. OFFICIAL/ADMINISTRATOR ...,WHITE,FEMALE,URP - UNCLASSIFIED REGULAR PART-TIME,...,0.0,20.0,8100.0,97200.0,339371,True,NaN,NaN,181200.0,NaN
1,104,LEGISLATIVE BUDGET BOARD ...,GILLIAM,STACEY,L,C160,COMMITTEE DIRECTOR ...,WHITE,FEMALE,URP - UNCLASSIFIED REGULAR PART-TIME,...,0.0,20.0,7000.0,84000.0,339371,True,NaN,NaN,NaN,True
2,101,SENATE ...,NELSON,DAVID,,7101,LEG. OFFICIAL/ADMINISTRATOR ...,WHITE,MALE,URP - UNCLASSIFIED REGULAR PART-TIME,...,0.0,20.0,9500.0,114000.0,193187,True,NaN,NaN,210000.0,NaN
3,104,LEGISLATIVE BUDGET BOARD ...,NELSON,DAVID,,P080,SENIOR BUDGET ADVISOR ...,WHITE,MALE,URP - UNCLASSIFIED REGULAR PART-TIME,...,0.0,20.0,8000.0,96000.0,193187,True,NaN,NaN,NaN,True
4,101,SENATE ...,ROCHA,MARIE,S,7103,LEG. SERVICE/MAINTENANCE ...,HISPANIC,FEMALE,URF - UNCLASSIFIED REGULAR FULL-TIME,...,0.0,41.0,3365.4,40384.8,152257,True,NaN,True,NaN,NaN

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 144738 entries, 0 to 144737
Data columns (total 21 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   AGY                      144738 non-null  int64
 1   NAME                     144738 non-null  object
 2   LASTNAME                 144738 non-null  object
 3   FIRSTNAME                144738 non-null  object
 4   MI                       144738 non-null  object
 5   JOBCLASS                 144738 non-null  object
 6   JC TITLE                 144738 non-null  object
 7   RACE                     144738 non-null  object
 8   SEX                      144738 non-null  object
 9   EMPTYPE                  144738 non-null  object
 10  HIREDT                   144738 non-null  object
 11  RATE                     144738 non-null  float64
 12  HRSWKD                   144738 non-null  float64
 13  MONTHLY                  144738 non-null  float64
 14  ANNUAL                   144738 non-null  float64
 15  STATENUM                 144738 non-null  int64
 16  duplicated               76 non-null      object
 17  multiple_full_time_jobs  18 non-null      object
 18  combined_multiple_jobs   37 non-null      object
 19  summed_annual_salary     11 non-null      float64
 20  hide_from_search         11 non-null      object
dtypes: float64(5), int64(2), object(14)
memory usage: 23.2+ MB

In [5]:
df.RACE.value_counts()

WHITE              64651
HISPANIC           39557
BLACK              33964
ASIAN               4419
OTHER               1453
AM INDIAN            694
Name: RACE, dtype: int64

In [6]:
df['JC TITLE'].value_counts()

CORREC  OFFICER IV                                    8753
CORREC  OFFICER V                                     7350
TEXAS WORKS ADVISOR II                                3812
CORREC OFFCR III                                      3652
DIRECT SUPPORT PROFESSIONAL I                         2484
                                                      ...
MEDICAL TECHNICIAN II                                    1
STAFF ASSISTANT II                                       1
PRODUCTION/PUBLICATIONS SPECIA                           1
SENIOR RISK ASSESSMENT AUDITOR                           1
RES ASSOC/SOC SCI STATISTICIAN                           1
Name: JC TITLE, Length: 1406, dtype: int64

In [13]:
plt.df.ANNUAL(kind='bar')

AttributeError: module 'matplotlib.pyplot' has no attribute 'df'